<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudyDrinks"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.AddressSelection"
            android:exported="false" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyFragment"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ItemViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductSearchingActivity"
            android:exported="false"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VerifyOTP"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>